<form action="/<%= base._id %>?_method=PUT" method="POST">

  <input type="text" name="field" value="<%= base.field %>"></input>
  <input type="text" name="title" value="<%= base.title%>" ></input>
  <input type="text" name="content" value="<%= base.content%>"></input>
  <input type="text" name="description" value="<%= base.description%>"></input>
  <input type="text" name="date" value="<%= base.date%>"></input>
  <button>SUBMIT</button>
  </form>
